@model IEnumerable<websitesach.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/AdminLayout.cshtml";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-primary"><i class="ri-user-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">7900</span></h2>
                                <h5 class="">Người dùng</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-danger"><i class="ri-book-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">4.8</span>K</h2>
                                <h5 class="">Sách</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-warning"><i class="ri-shopping-cart-2-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">1.2</span>K</h2>
                                <h5 class="">Đơn Hàng</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle iq-card-icon bg-info"><i class="ri-radar-line"></i></div>
                            <div class="text-left ml-3">
                                <h2 class="mb-0"><span class="counter">690</span></h2>
                                <h5 class="">Chờ Duyệt</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between align-items-center">
                        <div class="iq-header-title">
                            <h4 class="card-title mb-0">Doanh số hàng ngày</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div id="iq-sale-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between align-items-center">
                        <div class="iq-header-title">
                            <h4 class="card-title mb-0">Tóm lược</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 mb-0">
                            <li>
                                <div class="iq-details mb-2">
                                    <span class="title">Thu nhập</span>
                                    <div class="percentage float-right text-primary">95 <span>%</span></div>
                                    <div class="iq-progress-bar-linear d-inline-block w-100">
                                        <div class="iq-progress-bar iq-bg-primary">
                                            <span class="bg-primary" data-percent="90"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="iq-details mb-2">
                                    <span class="title">Lợi nhuận</span>
                                    <div class="percentage float-right text-warning">72 <span>%</span></div>
                                    <div class="iq-progress-bar-linear d-inline-block w-100">
                                        <div class="iq-progress-bar iq-bg-warning">
                                            <span class="bg-warning" data-percent="75"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="iq-details mb-2">
                                    <span class="title">Chi phí</span>
                                    <div class="percentage float-right text-info">75 <span>%</span></div>
                                    <div class="iq-progress-bar-linear d-inline-block w-100">
                                        <div class="iq-progress-bar iq-bg-info">
                                            <span class="bg-info" data-percent="65"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-sm-12">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Đơn Hàng</h4>
                            </div>
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                    <span class="dropdown-toggle text-primary" id="dropdownMenuButton5" data-toggle="dropdown">
                                        <i class="ri-more-fill"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                                        <a class="dropdown-item" href="@Url.Action("DonHang", "QuanliSP")"><i class="ri-eye-fill mr-2"></i>Xem</a>
                                        <a class="dropdown-item" href="@Url.Action("DonHang", "QuanliSP")"><i class="ri-delete-bin-6-fill mr-2"></i>Xoá</a>
                                        <a class="dropdown-item" href="@Url.Action("DonHang", "QuanliSP")"><i class="ri-pencil-fill mr-2"></i>Sửa</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table class="table mb-0 table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">@Html.DisplayNameFor(model => model.MaDonHang)</th>
                                            <th scope="col">@Html.DisplayNameFor(model => model.KhachHang.TenTaiKhoan)</th>
                                            <th scope="col">@Html.DisplayNameFor(model => model.Sach.TenSach)</th>
                                            <th scope="col">@Html.DisplayNameFor(model => model.SoLuong)</th>
                                            <th scope="col"> @Html.DisplayNameFor(model => model.NgayDat)</th>

                                            <th scope="col">@Html.DisplayNameFor(model => model.NgayGiao)</th>
                                            <th scope="col">@Html.DisplayNameFor(model => model.DonGia)</th>
                                            <th scope="col">@Html.DisplayNameFor(model => model.PhuongThucThanhToan)</th>
                                            <th scope="col">@Html.DisplayNameFor(model => model.TinhTrangGiaoHang)</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.MaDonHang)</td>
                                                <td>@Html.DisplayFor(modelItem => item.KhachHang.TenTaiKhoan)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Sach.TenSach)</td>
                                                <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                                                <td>@Html.DisplayFor(modelItem => item.NgayDat)</td>
                                                <td>@Html.DisplayFor(modelItem => item.NgayGiao)</td>
                                                <td>@Html.DisplayFor(modelItem => item.DonGia)</td>
                                                <td>@Html.DisplayFor(modelItem => item.PhuongThucThanhToan)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)</td>


                                            </tr>

                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
